    
    <section class="cta-section" {% if entry.callToAction.backgroundImage.one() %}style="background-image: linear-gradient(to right, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8)), url({{ entry.callToAction.backgroundImage.one().url() }});"{% endif %}>
        <div class="container">
            <div class="cta-content">
                <div class="section-header">
                    <h2>{{ entry.callToAction.sectionTitle }}</h2>
                    <p>{{ entry.callToAction.sectionSubTitle }}</p>
                </div>
            {% if entry.callToAction.sectionButton %}
                <a href="{{ entry.callToAction.sectionButton }}" class="btn primary">{{ entry.callToAction.sectionButton.label }}</a>
            {% endif %}
            </div>
        </div>
    </section>
